<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation') %>
    <h1>hola</h1>
    <h2>este es mi primer proyecto en node js</h2>
    <%- include('partials/footer') %>
</body>
</html>