<footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea placeat quos reprehenderit, esse natus distinctio voluptas vel atque omnis ducimus, repudiandae repellat debitis officiis possimus laboriosam nihil deleniti repellendus incidunt.</p>
</footer>