<nav>
    <ul>
        <li>
            <a href="/">home</a>
        </li>
        <li>
            <a href="/about">Contáctanos</a>
        </li>
        <li>
            <a href="/contact">Sobre Nostros</a>
        </li>
    </ul>
</nav>